.container {
    display: flex;
    flex-direction: column;
  }

.divHover {
    background-color: lightgray;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}