.container {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 700px;
    border-style: solid;
  }

.divHover {
    background-color: lightgray;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button {
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background-color: black;
}